* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
img {
  margin: 100px 400px;
}
.menu {
  background-color: #dfeedb;
  height: 100px;
}
.menu li {
  display: inline-block;
}
.menu a {
  text-decoration: none;
}
.menu a:hover {
  text-decoration: underline;
}
.menu a:active {
  color: blue;
}
.subMenu {
  display: none;
}
.menu li:hover .subMenu {
    display: block;
}
.subMenu li:hover {
  background-color: gray;
}
