* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.logo img {
  margin: 100px 380px;
}
.menu {
  background-color: #dfeedb;
  height: 100px;
}
.menu li {
  display: inline-block;
}
.menu a {
  font-size: 30px;
  text-decoration: none;
}
.menu a:hover {
  text-decoration: underline;
}
.menu a:active {
  color: blue;
}
.subMenu {
  display: none;
}
.menu li:hover .subMenu {
    display: block;
}
.slogan {
  height: 800px;
}
.corporal {
  background-color: #dfeedb;
  column-gap: 10px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  margin-top: 3%
}

article {
  border: 1px solid black;
  border-radius: 3px;
  height: 200px;
  margin: 25px 30px;
}
.corporal img {
  height: 50px;
  text-align: center;
  width: 50px;
}
.corporal h1 {
  text-align: center;
}
