* {
  background-color: #dfeedb;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
img {
  margin: 100px 400px;
}
.menu li {
  display: inline-block;
  text-decoration: none;
}
.subMenu {
  display: none;
}
.subMenu li {
  text-decoration: none;
  padding-top: 4px;
  background-color: black;
  padding: 10px;
  margin-top: 0;
}
.menu li:hover .subMenu {
    display: block;
}
.subMenu li:hover {
  background-color: gray;
}
